<section class="section section__lot--manage">
  <h2>Lote: <%= @lot.batch_code %></h2>

  <p>Atualizar informações do lote:</p>

  <%= button_to "Aprovar Lote", approved_lot_path, method: :post, class: "btn btn-success"  %>

  <div class="manage--products">
    <h4>Produtos contidos neste lote:</h4>

    <% @products.each do |product| %>
      <article class="card">
        <header>
          <h3><%= product.name %> - <%= product.sku %></h3>
          <img src='https://www.contentviewspro.com/wp-content/uploads/2017/07/default_image.png' alt='teste'>
        </header>

        <dl class="card__body">
          <div>
            <dt>Descrição:</dt>
            <dd><%= product.description %></dd>
          </div>

          <div>
            <dt>Dimensões:</dt>
            <dd><%= product.full_dimensions_desc %></dd>
          </div>

          <div class="card__controls">
            <%= button_to "Remover", remove_product_lot_path(product_model_id: product.id), method: :post, class: "card__controls-btn" %>
          </div>
        </dl>
      </article>
    <% end %>
  </div>

  <div>
    <h4>Produtos disponíveis para adicionar ao lote:</h4>

    <div class="table__container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @available_products.each do |product| %>
            <tr>
              <td><%= product.sku %></td>
              <td><%= product.name %></td>
              <td><%= product.category.name %></td>
              <td class="table__controls">
                <div>
                  <%= link_to "Ver", product_model_path(product), class: "btn btn-secondary"  %>
                  <%= button_to "Adicionar", add_product_lot_path(product_model_id: product.id), method: :post, class: "btn btn-primary"  %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <button class="btn btn-secondary btn-large">Carregar mais resultados</button>
  </div>
</section>
