<section class="section login__container">
  <%= render "devise/shared/error_messages", resource: resource %>

  <div  class="login__content">
    <h2>Criar uma conta</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form "}) do |f| %>

      <p>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </p>

      <p>
        <%= f.label :cpf %>
        <%= f.text_field :cpf, maxlength: '11' %>
      </p>

      <p>
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </p>

      <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </p>

      <div class="actions">
        <%= f.submit "Criar conta", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</section>
