<section class="section section__product-model--show">
  <h2>Produto - <%= @product_model.name %></h2>

  <%= render partial: "shared/image", locals: { obj: @product_model } %>

  <dl class="description__list">
    <div>
      <dt>Descrição:</dt>
      <dd><%= @product_model.description %></dd>
    </div>

    <div>
      <dt>SKU:</dt>
      <dd><%= @product_model.sku %></dd>
    </div>

    <div>
      <dt>Dimensões:</dt>
      <dd><%= @product_model.full_dimensions_desc %></dd>
    </div>

    <div>
      <dt>Peso:</dt>
      <dd><%= @product_model.weight %>g</dd>
    </div>

    <div>
      <dt>Categoria:</dt>
      <dd><%= @product_model.category.name %></dd>
    </div>

  </dl>
  <% if @product_model.lot_id.present? %>
    <p>
      Compre o produto clicando no seguinte lote:  
      <%= link_to @product_model.lot.batch_code, lot_path(@product_model.lot_id) %>
    </p>
  <% end %>
</section>
