<% lots.each do |lot| %>
  <article class="card card__admin">
    <header>
      <h3>Lote: <%= link_to lot.batch_code, lot_path(lot) %></h3>
      <% if lot.photo.attached? %>
        <%= image_tag lot.photo %>
      <% else  %>
        <%= image_tag("default.png") %>
      <% end %>
    </header>

    <div class="card__body">
      <div>
        <strong>Lance Inicial:&nbsp;</strong>
        <p> <%= number_to_currency(lot.min_value, locale: :'pt-BR') %></p>
      </div>

      <div>
        <dt>Status:&nbsp;</dt>
        <dd class="<%= lot.status %>">
          <%= t("activerecord.attributes.lot.status.#{lot.status}") %>
        </dd>
      </div>

      <div class="card__controls">
        <% if admin %>
          <p class="card__controls">
            <%= link_to "Ver", admin_lot_path(lot), class: "card__controls-btn"  %>

            <% if lot.status == "pending" %>
              <%= link_to "Editar", edit_admin_lot_path(lot), class: "card__controls-btn"  %>
              <%= link_to "Gerenciar", manage_admin_lot_path(lot), class: "card__controls-btn"  %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
