<section>
  <h2>Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <p>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </p>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
