<section class="login__container">
  <%= render "devise/shared/error_messages", resource: resource %>

  <div  class="login__content">
    <h2>Esqueceu sua senha?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>

      <p>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </p>

      <div class="actions">
        <%= f.submit "Enviar instruções para o email", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</section>
