<% lots.each do |lot| %>
  <article class="card">
    <header>
      <h3>Lote: <%= link_to lot.batch_code, lot_path(lot) %></h3>

      <% if lot.photo.attached? %>
        <%= image_tag lot.photo %>
      <% else  %>
        <%= image_tag("default.png") %>
      <% end %>
    </header>

    <div class="card__body">
      <div class="countdown__section">
        <% if Time.zone.now > lot.start_date && Time.zone.now < lot.end_date %>
          <%= format_time_left(lot.end_date - Time.zone.now, false).html_safe %>
          <p class="countdown__label">Tempo restante:</p>
        <% elsif Time.zone.now < lot.start_date %>
          <%= format_time_left(lot.start_date - Time.zone.now, false).html_safe %>
          <p class="countdown__label">Falta para iniciar:</p>
        <% else %>
          <p class="countdown__label ended">Lances encerrados!</p>
        <% end %>
      </div>

      <div>
        <strong>Lance Inicial:&nbsp;</strong>
        <p> <%= number_to_currency(lot.min_value, locale: :'pt-BR') %></p>
      </div>

      <div class="card__controls">
        <%= link_to(lot_path(lot), class: "btn btn-bid") do %>
          <i class="fa fa-gavel" style="margin-left: 5px;"></i>
          <%= lot.end_date < Time.zone.now ? "Ver o resultado" : "Dar Lance" %>
        <% end %>

        <%= button_to favorites_path(lot_id: lot.id), method: :post, class: 'btn favorite' do %>
          <% if current_user&.favorites&.exists?(lot_id: lot.id) %>
            <i class="fa fa-heart"></i>
          <% else %>
            <i class="fa fa-heart-o"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
