<aside>
  <ul class="list dashboard">
    <li class="menu__item"><%= link_to 'Lotes', lots_path %></li>
    <li class="menu__item"><%= link_to 'Lances', product_models_path %></li>
    <li class="menu__item"><%= link_to 'Usuários', product_models_path %></li>
    <li class="menu__item"><%= link_to 'Produtos', product_models_path %></li>
    <li class="menu__item"><%= link_to 'Categorias', categories_path %></li>
  </ul>
</aside>
