<section>
  <h2>Lote: <%= @lot.batch_code %></h2>

  <dl class="description__list">
    <div>
      <dt>Data de início:</dt>
      <dd><%= l(@lot.start_date, format: :long) %></dd>
    </div>

    <div>
      <dt>Data de encerramento:</dt>
      <dd><%= l(@lot.end_date, format: :long) %></dd>
    </div>

    <div>
      <dt>Lance atual:</dt>
      <dd><%= @current_bid %></dd>
    </div>

    <% @lot.bids.each do |bid| %>
      <div>
        <dt><%= bid.user.name %>:</dt>
        <dd><%= bid.amount %></dd>
      </div>
    <% end %>
  </dl>
</section>
