<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Leilão do Galpão</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <h1>
          <%= link_to root_path do %>
            Leilão do Galpão
          <% end %>
        </h1>

        <menu class="list menu">
          <li class="menu__item"><%= link_to 'Página Inicial', root_path %></li>
          <li class="menu__item">link 2</li>
        </menu>

        <div class="nav__auth">
          <% if current_user %>
            <p><%= current_user.email %> <%= "[#{current_user.role}]" %></p>
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "btn" %>
          <% else %>
            <%= button_to 'Entrar', new_user_session_path, class: "btn" %>
          <% end %>
        </div>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
