<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Leil達o do Galp達o</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <h1>
          <%= link_to root_path do %>
            Leil達o do<br/>
            Galp達o
          <% end %>
        </h1>

        <menu class="list menu">
          <li class="menu__item"><%= link_to 'Lotes', lots_path %></li>
          <li class="menu__item"><%= link_to 'Meus Lances', bids_path %></li>
        </menu>

        <div class="nav__auth">
          <% if current_user %>
            <p><%= current_user.name %> <%= "[#{current_user.role}]" %></p>
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-outline" %>
          <% else %>
            <%= button_to 'Entrar', new_user_session_path, class: "btn btn-outline" %>
          <% end %>
        </div>
      </nav>
    </header>

    <main>
      <% flash.each do |type, msg|%>
        <div class="flash__container <%= type %> full-bleed" >
          <p><%= msg %></p>
        </div>
      <% end %>

      <% if current_user && current_user.is_admin? %>
        <%= render "shared/dashboard" %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
